<!-- SEO -->
<meta name="description" content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}" />
<meta name="page" content="{{ page.url }}" />
<link rel="icon" href="/static/favicon.ico" />
<link rel="canonical" href="https://{{ site.hostname }}{{ page.url }}" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@bdickason" />
<meta name="twitter:title" content="{{ title + ' - ' if title}}" />
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}" />
{% if thumbnail %}<meta name="twitter:image" content="http://{{ site.hostname }}{{ thumbnail }}" />{% endif %}

<!-- Open Graph (FB, LinkedIn) -->
<meta property='og:title' content="{{ title + ' - ' if title}}" />
<meta property='og:description' content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}" />
<meta property='og:url' content="https://{{ site.hostname }}{{ page.url }}" />
<meta property='og:type' content="article" />
{% if thumbnail %}<meta property='og:image' content="http://{{ site.hostname }}{{ thumbnail }}" />{% endif %}

