
    <!-- about
    ================================================== -->
    <section id="about">

      
        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header">About the Book</h1>
            </div>
            <div class="col-eight">
                <p class="lead">
                    I wrote this book to answer the question: <mark>"What is the right setup for my unique needs?"</mark> You can spend years and thousands of dollars researching and trying different gear but there's no single place that breaks down the different options, their pro's and con's, and helps you figure out which hardware setup is right for YOU based on your goals.
                </p>
                <p class="lead">
                    I'll start by helping you identify your goals and give an overview of the types of hardware out there. Next, I'll deep dive the different types of setups and give you a set of pro's and cons so you can make a good decision. After that, I'll explain how to hook it all up with the right cables. Finally, I'll give you a set of high quality youtube channels to learn more once your hardware arrives.
                </p>
                <p class="lead">
                    Along the way I'll see advice and interviews with some of the best producers who are making music without a computer.
                </p>

                <!-- Writing for section below on chapters / table of contents -->
                    . Do you want to sketch out lo-fi hip hop beats? Do you want to jam with friends on a synthwave track? Do you want to construct a beautiful outer-space soundscape? Next, I'll walk through the different pieces of hardware out there (e.g. Synthesizers, Sequencers, etc.) and go deep on the 'brains' that make dawless production work. Of course, you need a giving an overview of dawless music production, then walk through each of the components (e.g. Synthesizers, Sequencers).
            </div>                       
            
        </div>

        <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature">	

                    <span class="icon"><i class="icon-window"></i></span>            

                    <div class="service-content">	

                        <h3>Hardware Guide</h3>

                        <p>We break down everything you need to build a complete dawless setup. You'll learn the differences between components like synthesizers, sequencers, and drum machines and how to pick the right hardware for your goals and genre of music.
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature">	

                        <span class="icon"><i class="icon-image"></i></span>                          

                    <div class="service-content">	
                        <h3>Expert Interviews</h3>  

                        <p>We spoke with 17 leading musicians embracing dawless setups. Learn from the best and hear how they setup their studio for inspiration and immediate results.
                        </p>

                        
                    </div>	                          

                </div> <!-- /bgrid -->

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-paint-brush"></i></span>		            

                    <div class="service-content">
                        <h3>How to hook everything up</h3>

                        <p>Need to know the difference between MIDI cables and patch cables? We'll share the ideal way to connect your hardware together so it all works seamlessly.
                        </p> 
                            
                    </div> 	            	               

                </div> <!-- /bgrid -->


            </div> <!-- end features-list -->

        </div> <!-- end about-features -->
                <div class="row narrow about-how">
          
            <h1 class="intro-header">Table of Contents</h1>           

            <div class="about-how-content">
                <div class="about-how-steps block-tab-full group">

                    <div class="bgrid step" data-item="1">
                        <h3>Sign-Up</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="2">
                        <h3>Upload</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>               
               
                    <div class="bgrid step" data-item="3">
                        <h3>Create</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="4">
                        <h3>Publish</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>  

                </div>           
           </div> <!-- end about-how-content -->

        </div> <!-- end about-how -->

        <div class="row about-bottom-image">

           <img src="/static/app-screens-1200.png" 
                srcset="/static/app-screens-600.png 600w, 
                        /static/app-screens-1200.png 1200w, 
                        /static/app-screens-2800.png 2800w" 
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="App Screenshots">

        </div>  <!-- end about-bottom-image -->  

    
    </section> <!-- end about -->  