
    <!-- about
    ================================================== -->
    <section id="about">

      
        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header">About the Book</h1>
            </div>
            <div class="col-eight">
                <p class="lead">
                    I love making music but the last thing I wanted to do at night was look at my computer. I was burned out and my music was suffering. Recently, I ditched Ableton and started using hardware to make music and found myself loving the creative process again.</p>
                <p class="lead">
                    I  wrote this book to answer the question: <mark>"What is the right setup for my unique needs?"</mark> You can spend years and thousands of dollars researching and trying different gear but there's no single place that breaks down the different options, their pro's and con's, and helps you figure out which hardware setup is right for YOU based on your goals.
                </p>
                <p class="lead">
                    I'll start by helping you identify your goals and give an overview of the types of hardware out there. Next, I'll deep dive the different types of setups and give you a set of pro's and cons so you can make a good decision. After that, I'll explain how to hook it all up with the right cables. Finally, I'll give you a set of high quality resources to learn more once your hardware arrives.
                </p>
                <p class="lead">
                    Along the way I'll share advice and interviews with some of the best producers who are making music without a computer.
                </p>
            </div>                       
            
        </div>

        <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature">	

                    <span class="icon"><i class="icon-window"><img src="/static/book/hardware.svg"></i></span>            

                    <div class="service-content">	

                        <h3>Hardware Guide</h3>

                        <p>I break down everything you need to build a complete dawless setup. You'll learn the differences between components like synthesizers, sequencers, and drum machines and how to pick the right hardware for your goals and genre of music.
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature">	

                        <span class="icon"><i class="icon-image"></i><img src="/static/book/interviews.svg"></span>                          

                    <div class="service-content">	
                        <h3>Expert Interviews</h3>  

                        <p>I spoke with 17 leading musicians embracing dawless setups. Learn from the best and hear how they setup their studio for inspiration and immediate results.
                        </p>

                        
                    </div>	                          

                </div> <!-- /bgrid -->

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-paint-brush"></i><img src="/static/book/hookup.svg"></span>		            

                    <div class="service-content">
                        <h3>How to hook everything up</h3>

                        <p>Need to know the difference between MIDI cables and patch cables? I'll share the ideal way to connect your hardware together so it all works seamlessly.
                        </p> 
                            
                    </div> 	            	               

                </div> <!-- /bgrid -->


            </div> <!-- end features-list -->

        </div> <!-- end about-features -->
                <div class="row narrow about-how">
          
            <h1 class="intro-header">Table of Contents</h1>           

            <div class="about-how-content">
                <div class="about-how-steps block-tab-full group">

                    <div class="bgrid step" data-item="1">
                        <h3>Why dawless?</h3>
                        <p>Define dawless / Why did I go dawless / Hear why experts ditched their computers.
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="2">
                        <h3>Your goals</h3>
                        <p>Do you want to write full songs, sketches, or loops / What genre of music / What is your budget.
                        </p> 
                    </div>               
               
                    <div class="bgrid step" data-item="3">
                        <h3>Overview of a dawless setup</h3>
                        <p>Summary of the different components listed below.
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="4">
                        <h3>Synthesizers</h3>
                        <p>Types of synthesizers / Analog, Digital, Mono, Polyphonic, Modular, etc.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="5">
                        <h3>Drum machines</h3>
                        <p>Samplers vs Drum machines / Analog vs. Digital / Vintage vs. Modern
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="6">
                        <h3>Other instruments</h3>
                        <p>How instruments that don't support MIDI (e.g. Vocals, Guitar, Bass, etc) fit into a dawless setup.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="7">
                        <h3>Effects</h3>
                        <p>What are effects and which ones are important to the sound you want to create.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="8">
                        <h3>Sequencers</h3>
                        <p>What is a sequencer / Types of sequeners / Common sequencer features.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="9">
                        <h3>Mixers</h3>
                        <p>When you need a mixer / Types of mixers / Popular brands and models.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="10">
                        <h3>The 'brain'</h3>
                        <p>What is a 'brain' in a dawles setup / Types of units / pros and cons for popular models / Recommendations.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="11">
                        <h3>Headphones, speakers, monitors</h3>
                        <p>Difference between speakers and monitors / What's important in a listening setup.
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="12">
                        <h3>Connecting everything</h3>
                        <p>Definitions / MIDI vs. USB / Common MIDI setups / Audio connections.
                        </p> 
                    </div> 

                    <div class="bgrid step" data-item="13">
                        <h3>Resources and communities</h3>
                        <p>Youtube channels to learn more once your gear arrives / Online communities to ask question and share your music.
                        </p> 
                    </div>   

                    <div class="bgrid step" data-item="14">
                        <h3>Appendix: Buying gear</h3>
                        <p>New vs. Used / What to watch out for when buying used / Trustworthy review sources
                        </p> 
                    </div>  

                    <div class="bgrid step" data-item="15">
                        <h3>Appendix: Full interview transcripts</h3>
                        <p>Complete interviews with 17 leading dawless artists
                        </p> 
                    </div>  

                </div>           
           </div> <!-- end about-how-content -->

        </div> <!-- end about-how -->

        <div class="row about-bottom-image">

           <img src="/static/book/dawless-setups.png" 
                srcset="/static/book/dawless-setups.jpg 600w, 
                        /static/book/dawless-setups@2x.jpg 1200w, 
                        /static/book/dawless-setups@3x.jpg 2800w" 
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="See different dawless setups">

        </div>  <!-- end about-bottom-image -->  

    
    </section> <!-- end about -->  