
    <!-- download
    ================================================== -->
    <section id="download">

        <div class="row">
            <div class="col-full">
                <h1 class="intro-header" >Who is this book for?</h1>
                    <p class="lead">
                        <ul>
                            <li>"I spend all day looking at a screen and want to make music without looking at your computer."
                            <li>"I find the thousands of VST's and software instruments out there overwhelming."
                            <li>"I want to have a more hands on, tactile approach to making music."
                            <li>"I want a simpler setup that I can turn on and let me creative juices flow."
                            <li>"I am intrigued by the recent resurgance of hardware to make electronic music."
                        </ul>
                    </p>
                    <p class="lead">
                        If any of the above statements describe you, this book is for you!
                    </p>
            </div>
        </div>

    </section> <!-- end download -->    
