   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="/static/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">        

            <div class="row contents">
                <div class="home-content-left">                
                    <h3>The Dawless ebook</h3>

                    <h1>
                        Learn to make Music <br>
                        without a Computer
                    </h1>

                    <p class="lead">
                        Are you tired of staring at a screen all day? Be a part of a growing group of musicians who want to spend more time making music than learning software.
                    </p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Enter your email address" required=""> 
                
                            <input class="button-primary" type="submit" name="subscribe" value="Get Free Chapter">
                
                            <label for="mc-email" class="subscribe-message"></label>
                            <label>I will never sell your information.</label>
                        </form>
                        </div>	     

                </div>

                <div class="home-image-right">
                    <img src="/static/book/book-cover.png" 
                        srcset="/static/book-cover.png 1x, /static/book-cover.png 2x"  
                       >
                </div>
            </div>

        </div> <!-- end home-content -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->  
