

    <!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">
            <div class="col-two"> <!-- spacer -->
                &nbsp;
            </div>
            <div class="col-four pricing-intro">
                <h1 class="intro-header">Pre-Order the Book</h1>

                <p>
                    Receive a copy of Dawless in your inbox on <mark>February 15th, 2020</mark>. The book will be delivered in PDF and epub formats.
                </p>
                <p>
                    In the meantime, I'll e-mail you advance copies of chapters, expert interviews, and links to inspiring and impressive live Dawless jams.
                </p>
            </div>

            <div class="col-four pricing-table">
                <div class="row">
                    <div class="col-full plan-wrap">
                        <div class="plan-block"> 

                            <div class="plan-top-part">
                                {# <h3 class="plan-block-title">ebook</h3> #}
                                <p class="plan-block-price"><sup>$</sup>14.99</p>
                                <p class="plan-block-per">available 2/15/20</p>
                            </div>

                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>15</span> Chapters</li>
                                    <li><span>17</span> Expert interviews</li>	                  
                                    <li><span>100+</span> Hours of research</li>		                  
                                    <li><span>PDF and epub</span> formats</li>		                  
                                </ul>

                                <a class="button button-primary large" href="https://gum.co/ogYyR" target="_blank" data-gumroad-single-product="true">Pre-order Now</a>
                            </div>  
                     
                        </div>
                    </div> <!-- end plan-wrap -->

                </div>               
            </div> <!-- end pricing-table -->

        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->
