
      
        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header">About the Book</h1>
            </div>
            <div class="col-eight">
                <p class="lead">
                    I love making music but the last thing I wanted to do at night was look at my computer. I was burned out and my music was suffering. Recently, I ditched Ableton and started using hardware to make music and found myself loving the creative process again.</p>
                <p class="lead">
                    I  wrote this book to answer the question: <mark>"What is the right setup for your unique needs?"</mark> I want to save you tons of hours of research and dollars purchasing the wrong hardware. I'll cover four major areas:
                    <ol class="lead">
                    <li>Identify your goals and give an overview of the hardware options.
                    <li>Deep dive the different different setups with a list of pro's and con's.
                    <li>Explain how to hook up and configure your hardware.
                    <li>High quality resources to learn more once your harware arrives.
                    </ol>
                </p>
                <p class="lead">
                    Along the way I'll share advice and interviews with some of the best producers who are making music without a computer.
                </p>
            </div>                       
            
        </div>

        