
      <!-- About Me -->
        <div class="row about-intro about-me">

            <div class="col-four">
                <h1 class="intro-header">About Me</h1>
                <img id="author" src="/static/book/author.jpg">
            </div>
            <div class="col-eight">
                <p>
                    I've been making electronic music for ten years and have been exploring dawless setups for the last two. Prior projects include a synthwave band called <a href="https://www.youtube.com/watch?v=8ExvFKMllZs" target="_blank">Flashmen</a> and five years DJing in New York City. I love researching new topics, going deep, and then sharing my knowledge with others.
                </p>
                <p>
                    I love Synthwave music and have followed that scene from <a href="https://open.spotify.com/artist/11TlWPqyDFLHGccTFQhcc6" target="_blank">College</a> and the <a href="http://valeriecherie.blogspot.com/search?updated-max=2009-06-22T02:33:00-07:00&max-results=1" target="_blank">Valerie</a> days to more recent artists like <a href="https://open.spotify.com/artist/2NFrAuh8RQdQoS7iYFbckw" target="_blank">The Midnight</a> and <a href="https://open.spotify.com/artist/3I0ceM8qfqhCKGepaswmVg" target="_blank">Starcadian</a>. I also dabble in 80's/90's hip hop and tend to spend tons of time going deep on other genres until I find something I love.
                </p>
                <p>
                    My current setup is driven by an <a href="https://www.elektron.se/products/digitakt/" target="_blank">Elektron Digitakt</a> for sequencing with a Roland JU-06a and <a href="https://www.elektron.se/products/digitone/" target="_blank">Elektron Digitone</a> pulling synth duties and a <a href="https://www.roland.com/global/products/tr-8/" target="_blank">Roland TR-8</a> for drums. I use an <a href="https://www.arturia.com/keystep/overview" target="_blank">Arturia Keystep</a> for keys and a nondescript pair of headphones. I'm hoping to use the proceeds of this book to help fund my next synth purchase: an <a href="https://www.sequential.com/product/ob-6/" target="_blank">OB-6</a>! <em>(Read more about my setup in a future blog post)</em>
            </div>                       
        </div>
        <!-- end About Me -->

        