
        <!-- dawless in action image -->
        <div class="row about-bottom-image">

           <img src="/static/book/dawless-setups.png" 
                srcset="/static/book/dawless-setups.jpg 600w, 
                        /static/book/dawless-setups@2x.jpg 1200w, 
                        /static/book/dawless-setups@3x.jpg 2800w" 
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="See different dawless setups">

        </div>  <!-- end dawless in action image -->  

    