<div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature">	

                    <span class="icon"><i class="icon-window"><img src="/static/book/hardware.svg"></i></span>            

                    <div class="service-content">	

                        <h3>Hardware Guide</h3>

                        <p>I spent over 100 hours researching and trying gear so you don't have to. I'll break down everything you need to build a complete dawless setup. I'll also share common mistakes people make when buying used gear so you don't get ripped off.
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature">	

                        <span class="icon"><i class="icon-image"></i><img src="/static/book/interviews.svg"></span>                          

                    <div class="service-content">	
                        <h3>Expert Interviews</h3>  

                        <p>I spoke with 17 leading musicians embracing dawless setups. Learn from the best and hear how they setup their studio to maximize inspiration and immediate results.
                        </p>

                        
                    </div>	                          

                </div> <!-- /bgrid -->

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-paint-brush"></i><img src="/static/book/hookup.svg"></span>		            

                    <div class="service-content">
                        <h3>How to hook everything up</h3>

                        <p>Need to know the difference between MIDI cables and patch cables? I've tried tons of different cables and configurations and will share the ideal ways to connect your hardware together so it all works seamlessly.
                        </p> 
                            
                    </div> 	            	               

                </div> <!-- /bgrid -->


            </div> <!-- end features-list -->

        </div> <!-- end about-features -->