/* Book landing page CSS */

body { 
    background-color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
    line-height: 1.5;
    margin: 0;
}

.full {
	max-width: none;
}