<footer class="elv-layout">
  <p>Site inspired by <a href="http://andrewchen.co" target="_blank">@andrewchen</a> and <a href="http://paulgraham.com/articles.html">Paul Graham</a>. Layout borrowed from <a href="(https://www.11ty.io/" target="_blank">Eleventy</a>.</p>
</footer>
