<footer class="site-footer elv-layout">
	<p class="site-footer__inner">
		<span>© Brad Dickason 2026</span>
		<span class="site-footer__social">
			<a href="mailto:{{ site.email }}" class="site-footer__email" aria-label="Email">
				<img class="site-footer__email-icon site-footer__email-icon--light" src="/static/email-icon-black.png" alt="" width="20" height="20" decoding="async" />
				<img class="site-footer__email-icon site-footer__email-icon--dark" src="/static/email-icon.png" alt="" width="20" height="20" decoding="async" />
			</a>
			<a href="https://www.youtube.com/@braddickason" target="_blank" rel="noopener" class="site-footer__youtube" aria-label="YouTube">{% include 'components/icons/youtube.njk' %}</a>
		</span>
	</p>
</footer>
