<header>
    <div>
        <strong><a href="/">brad dickason</a></strong><br />
        <font size="-1">PM at Facebook</font>
    </div>
    <div>
        <a href="/">home</a> / 
        <a href="/about/">about</a>
    </div>
</header>