<header>
    <div>
        <strong><a href="/">brad dickason</a></strong><br />
        <font size="-1">i build the internets</font>
    </div>
    <div>
        <a href="/">home</a> / 
        <a href="/about/">about</a> / 
        <a href="/coaching/">coaching</a> / 
        <a href="https://community.bdickason.com">community</a>
    </div>
</header>