<div class="newsletter-cta-inline">
	<p class="newsletter-cta-inline__text">I send out a brief email whenever I publish a new video or blog post.</p>
	<div class="newsletter-cta-inline__form">
		{% include 'components/mailinglist.njk' %}
	</div>
</div>
