<div class="color-block-wrap">
	<div class="color-block color-block--purple">
		<div class="color-block__inner">
			<p>I'm Brad. I write about creativity, tapping into my intuition, and living life to the fullest. I send out a brief email whenever I publish a new video or blog post.</p>
			<div class="newsletter-cta__form">
				{% include 'components/mailinglist.njk' %}
			</div>
		</div>
	</div>
</div>
