<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>The Dawless ebook - Learn how to make Music without a computer</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->
    {%- set css %}
		{% include 'css/book/base.css' %}
		{% include 'css/book/vendor.css' %}
        {% include 'css/book/main.css' %}
	{% endset %}

		<style>{{ css | cssmin | safe }}</style>

    <!-- script
   ================================================== -->
   	{%- set js %}
        {% include 'js/book/modernizr.js' %}
    {% endset %}
	
    <script type="text/javascript">{{js | safe}}</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173523194-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-173523194-1');
    </script>
    
 
    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">
    {% include 'components/book/header.njk' %}

    <!-- about
    ================================================== -->
    <section id="about">
        {% include 'components/book/about/about-the-book.njk' %}
        {% include 'components/book/about/features.njk' %}
        {% include 'components/book/about/about-me.njk' %}
        {% include 'components/book/about/toc.njk' %}
        {% include 'components/book/about/dawless-in-action.njk' %}
    </section> <!-- end about -->  

    {# {% include 'components/book/testimonials.njk' %} #}
    
    {% include 'components/book/who-is-this-for.njk' %}

    {% include 'components/book/pricing.njk' %}

    {% include 'components/book/footer.njk' %}


    <div id="preloader"> 
    	<div id="loader"></div>
    </div>  

    {{ content | safe }}

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='REFERRER';ftypes[3]='text';fnames[4]='SIGNUP';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</body>

</html>
