<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- SEO -->
		<title>{{ title + ' - ' if title}}bdickason.com</title>
		<meta name="description" content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}">
		<meta name="page" content="{{ page.url }}">
		<link rel="icon" href="/static/favicon.ico">
		
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@bdickason" />
		<meta name="twitter:title" content="{{ title + ' - ' if title}}" />
		<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}" />
		{% if thumbnail %}<meta name="twitter:image" content="http://{{ site.hostname }}{{ thumbnail }}" />{% endif %}
		
		<!-- Open Graph (FB, LinkedIn) -->
		<meta property='og:title' content="{{ title + ' - ' if title}}"/>
		<meta property='og:description' content="{% if description %}{{ description }}{% else %}Become a great Product Manager.{% endif %}"/>
		<meta property='og:url' content="https://{{ site.hostname }}{{ page.url }}"/>
		{% if thumbnail %}<meta property='og:image' content="http://{{ site.hostname }}{{ thumbnail }}"/>{% endif %}


		

		{%- set css %}
		{% include 'css/index.css' %}
		{% endset %}

		<style>{{ css | cssmin | safe }}</style>

		<!-- Analytics -->
		<script async defer data-domain="bdickason.com" src="https://plausible.io/js/plausible.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173523194-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-173523194-1');
		</script>

  </head>

  <body>
	  {% include 'components/nav.njk' %}
	  <main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
		{{ content | safe }}
		{% include 'components/footer.njk' %}
	  </main>
  </body>


			{%- set js %}
			{% include 'js/convertkit.js' %}
			{% include 'js/typeform.js' %}
			{% endset %}

			<script type="text/javascript">{{js | safe}}</script>

	
</html>
