---
layout: layouts/base.njk
layoutClass: course
tags: course
---
<div class="course bg">
    <div class="course container">

        <main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">

        {{ content | safe }}

        </main>
    </div>
</div>