---
layout: layouts/base.njk
layoutClass: course
tags: course
---
<div class="course bg">

    <main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">

    {{ content | safe }}

    </main>
</container>