---
layout: layouts/base.njk
tags: page
---

{% include 'components/nav.njk' %}
	
<main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
	
    {{ content | safe }}
    {% include 'components/footer.njk' %}

</main>