---
layout: layouts/base.njk
tags: post
---

<main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
    <h2><a href="/" class="elv-hero"><strong>bdickason.com</strong></a></h2>
        {{ content | safe }}
</main>
