---
layout: layouts/base.njk
tags: post
---
<article class="elv-layout post post-blog">
	<h1>{{ title }}</h1>
	{% if subtitle %}
		<p class="post-subtitle">{{ subtitle }}</p>
	{% endif %}

	{% include 'components/date.njk' %}

	{{ content | safe }}

	{% include 'components/newsletter-cta.njk' %}

	{% include 'components/posts.njk' %}
</article>
