## Notes from my readers

<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Getting good user feedback is something people pay a lot of lip service to. But doing a half-assed job of it might be worse than not doing it at all! Great inspiration here by <a href="https://twitter.com/bdickason?ref_src=twsrc%5Etfw">@bdickason</a> for your user-feedback new years resolutions: <a href="https://t.co/ZDK7qPODBy">https://t.co/ZDK7qPODBy</a></p>&mdash; Michael Muse (@michaelmuse) <a href="https://twitter.com/michaelmuse/status/1346111643781107713?ref_src=twsrc%5Etfw">January 4, 2021</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
